inc/champsim_constants.h
src/core_inst.cc
.champsimconfig_cache
Makefile

bin/
obj/

**/*.o
**/*.d

.idea
cmake-build-debug

*.bak

# files copied when running config.sh
branch/*.cc
prefetcher/*.cc
replacement/*.cc

xed_example
results_10M